 @import '../assets/css/_variable/variable';


 .poster{
     width:60%;
     height:60%;
     //padding:0 20px;
     //margin-right: 20px;
     margin-top: 20px;
     border: 2px solid $light-blue;
     box-sizing:border-box;
     border-radius: 5px;
     box-shadow: 1px 1px 9px 0px $light-blue;
     transition-property: transform;
     transition-duration: 0.2s;
     transition-timing-function: ease-in;
     transition-delay: 0s;
 }
 .poster:hover{
    transform: scale(0.99);  
}

.titleMovie{
    width: 60%;
    margin-top:10px;
    font-weight: bold;
    font-size: 18px;
  }

  .yearOfMovie,.countryOfMovie{
    color: rgba(128, 128, 128, 0.904);
  }

  .box{
    width: 50px;
    height:130px;
    background: $main-color;
    position: absolute;
    z-index:98;
    top: 22px;
    left: 176px;
    border-bottom-left-radius: 5px;
    opacity: 0;
    animation-name: animationShowBox;
    animation-duration: 0.7s;
     animation-delay: 0.2s;
    animation-fill-mode: both;
}

.playIcon,.infoIcon{
    color: white;
    margin-left: 12px;
}

.playIcon:hover,.infoIcon:hover{
    cursor: pointer;
    transform: scale(1.3);
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transition-delay: 0s;
}

@keyframes animationShowBox{
    from{
        top: 0px;
        left: 176px;
        opacity: 0;
    }
    to{
        top: 22px;
        left: 176px;
        opacity: 1;
    }
}