@import'../../../assets/css/_variable/variable';
.totalSlider{
    position: relative;
}

.imageSlider{
   width: 100%;
}
.title{
    color: white;
    position: absolute;
    bottom:300px;
    left:60px;
  
}
.subTitleSlider{
    color: white;
    position: absolute;
    left: 60px;
    bottom: 240px;
}
.inputSlider{
    position: absolute;
    bottom:150px;
    left:50px;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 30px;
    text-indent: 20px;
}
.btnSearchSlider{
    border: none;
    position: absolute;
    right:calc(100% - 85%);
    bottom:150px;
    height: 50px;
    padding: 10px 25px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    background:$liner-color
}
.searchBox{
    position: relative;
    
}