@import'../../../assets/css/_variable/variable';
.totalSlider{
    position: relative;
}

.imageSlider{
   width: 100%;
}
.title{
    color: white;
    position: absolute;
    left:60px;
    top:200px;
}
.subTitleSlider{
    color: white;
    position: absolute;
    left: 60px;
    bottom: 320px;
}
.inputSlider{
    position: absolute;
    bottom:230px;
    left:60px;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 30px;
    text-indent: 20px;
}
.btnSearchSlider{
    border: none;
    position: absolute;
    left:1040px;
    bottom:230px;
    height: 50px;
    padding: 10px 25px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    background:$liner-color
}