@import '../../../assets//css/_variable/variable';
.inputSearch input{
    width:100%;
    height: 50px;
    border: 0;
    text-indent: 10px;
}
input:focus {
    outline: 0px;
}
input::placeholder{
    padding-left: 50px;
    font-style: italic;
    font-size:17px
}
.titlePopular,.titleFreeWatch{
    margin-left:30px;
    margin-top:30px;

}

.line{
    width: 169px;
    height: 10px;
    border-radius: 30px;
    background: $liner-color;
    margin-right: 3px;
}
