@import '../../../../../assets/css/_variable/variable';

.totalOfAccount{
    margin-left: 30px;
}
.title{
    font-weight: bold;
    font-size:25px;
    margin-top:20px;
}
.starsTitle,.castTitle,.metascore{
    font-weight: bold;
    color:gray;
    font-size:18px;
    margin-top:10px;
}
.test{
   
    font-size:20px
}

.boxAccount {
    display: inline-block;
    margin-top:10px;
}
.boxAccount div{
    font-weight: bold;
   padding-right: 15px;
}
.socialMedia{
    display: flex;
    margin-top:20px;

}
.facebook,.twitter,.insta,.share{
    padding-right: 20px;
}
.socialMedia svg{
    color:#004d90;
}
.styleTitle{
    font-weight: 700;
}
.total{
    margin-top: 20px;
}
.keywordItem div{
    display: inline-block;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 2px 10px;
    background-color: rgba(0,0,0,0.1);
    margin: 5px 0px;
    margin-right: 5px;
}
.titleCast{
    font-weight: bold;
    font-size: 25px;
    margin-top:10px
}
