@import '../../../../assets/css/_variable/variable';

.totalOfAccount{
    margin-left: 30px;
}
.title{
    font-weight: bold;
    font-size:25px;
    margin-top:20px;
}
.starsTitle,.castTitle,.metascore{
    font-weight: bold;
    color:gray;
    font-size:18px;
    margin-top:10px;
}
.test{
   
    font-size:20px
}

.boxAccount {
    display: inline-block;
    margin-top:10px;
}
.boxAccount div{
    font-weight: bold;
   padding-right: 15px;
}
.socialMedia{
    display: flex;
    margin-top:20px;

}
.facebook,.twitter,.insta,.share{
    padding-right: 20px;
}
.socialMedia svg{
    color:#004d90;
}