@import '../../../../assets//css/_variable/variable';
.listOfItem ul{
  list-style-type: none;
  padding: 0;
  margin:0
  
}

.listOfItem{
  position: absolute;
  background-color: white;
  border-radius: 5px;  
  top:50px;
  padding: 0px 0px;
  z-index: 99 !important;
}
.listOfItem ul li{
  color :black;
  padding-top: 10px ;
  padding-bottom: 10px;
  padding-left:30px ;
  padding-right: 60px;
  font-size: 13px;  
}


.listOfItem li:hover{
  cursor: pointer;
  background-color:$light-blue;
  border-radius: 5px;
}
