@import '../../../assets/css/_variable/variable';

.colorOfBackgroundBanner{
  background-color: #e1e1e1;
}
.poster{
  margin-left: 40px;
  
}
.poster img{
  width: 270px;
  height: 400px;
  border: 2px solid $light-blue;
  border-radius: 5px;
  margin-top:20px;
  box-shadow: 1px 1px 9px 0px $light-blue;
}
.totalDesign{
  margin-top: 50px;
  margin-bottom: 50px;
  font-weight: 500;
}
.title{
  font-weight: bold;
  font-size: 40px;
}
.designDetail{
  display: flex;
}
.totalDesign svg{
  color:#004d90;
  margin-right: 10px;
}
.released,.runtime,.country,.overview{
  padding-right: 40px;
  margin: 15px 0px;
  font-size:18px;
}
.genres ul{
  list-style-type: none;
  display: inline-block;
  padding:0;
}
.genres ul li{
  padding-right: 10px;
  font-size:18px
}
.awards{
  font-size: 18px;
}
.buttongroup{
  display: flex;
}
.buttongroup svg{
  color: white;
}
.list,.favarite,.save,.star{
  width: 60px;
  height: 60px;
  background-color: $main-color;
  border-radius: 50px;
  margin-right: 20px;
  margin-top: 15px;
  position: relative;
  cursor: pointer;
}
.list svg ,.favarite svg ,.save svg,.star svg{
  position: relative;
  top:15px;
  left:18px
}
.list:hover,.favarite:hover,.save:hover,.star:hover{
  background-color: $light-blue;
}