.box{
    border: 1px solid #d8d8d8;
    box-shadow: 2px 2px 11px 1px #d8d8d8;
    margin: 20px 10px;
    border-radius: 5px;
    width: 154px;
}
.totalTopCast{
    display: flex;
    overflow-x: scroll;
    
}

.topCastName{
    font-weight: bold;
    font-size:16px;
    margin-right: 10px;
}
.topCastCharacter{
    font-size:15px;
    padding-bottom: 15px;
    
}
.topCastName,.topCastCharacter{
    margin-left: 10px;
    margin-top: 5px;
    
}
.profileLogo {
    width: 154px;
    height: 231px;
    background-color: #d1d1d1;
}
.profileLogo svg{
    color:#979797
}
