.box{
    border: 1px solid #d8d8d8;
    box-shadow: 2px 2px 11px 1px #d8d8d8;
    margin: 20px 10px;
    border-radius: 5px;
}
.totalTopCast{
    display: flex;
    overflow-x: scroll;
    
}

.topCastName{
    font-weight: bold;
    font-size:16px;
    margin-right: 10px;
}
.topCastCharacter{
    font-size:15px
}
.box div{
    margin-left: 10px;
    margin-top: 5px;
}
